@font-face {
    font-family: 'Metropolis';
    src: url('../src/fonts/Metropolis-Regular.eot');
    src: local('Metropolis Regular'), local('Metropolis-Regular'),
        url('../src/fonts/Metropolis-Regular.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Metropolis-Regular.woff2') format('woff2'),
        url('../src/fonts/Metropolis-Regular.woff') format('woff'),
        url('../src/fonts/Metropolis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Metropolis';
    src: url('../src/fonts/Metropolis-Bold.eot');
    src: local('Metropolis Bold'), local('Metropolis-Bold'),
        url('../src/fonts/Metropolis-Bold.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Metropolis-Bold.woff2') format('woff2'),
        url('../src/fonts/Metropolis-Bold.woff') format('woff'),
        url('../src/fonts/Metropolis-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Metropolis';
    src: url('../src/fonts/Metropolis-Thin.eot');
    src: local('Metropolis Thin'), local('Metropolis-Thin'),
        url('../src/fonts/Metropolis-Thin.eot?#iefix') format('embedded-opentype'),
        url('../src/fonts/Metropolis-Thin.woff2') format('woff2'),
        url('../src/fonts/Metropolis-Thin.woff') format('woff'),
        url('../src/fonts/Metropolis-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

    html {
        font-size: 8px;
    }

    .saduLanding{
        margin: 0;
        min-height: 100vh;
        font-family: 'Metropolis';
        background: linear-gradient(to right, #003E3E 0%, #0F0F0F 100%);
        backdrop-filter: blur(47.5334px);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
          'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    ::selection {
        color: #fff;
        background: #439595;
      }
      
     
      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;
        margin-left: 50rem;
        margin-right: 50rem;
        color: white;
        font-family: 'Metropolis';
      }
      
      .info  h1 {
        margin-top: 8rem;
        margin-bottom: 8rem;
        font-size: 5rem;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
      
      }
      
      .info p {
        font-size: 2rem;
        text-align: center;
      }
      
      .info p a{
        color: #fff;
        font-weight: 600;
        transition: letter-spacing .2s;
      }
      
      .info p a:hover {
        letter-spacing: 1.5px;
      }
      
      .info .info__btn {
        background: linear-gradient(to right, #697E7F 0%, #190634 100%);
        width: 100%;
        padding: 2rem;
        border: none;
        border-radius: 2rem;
        color: #DFCBD0;
        font-size: 2rem;
        margin-bottom: 2rem;
        transition: all .2s;
      }
      
      .info .info__btn:hover {
        cursor: pointer;
        border-bottom: 4px solid #003E3E;
        transform: translateY(-4px);
      }
      
      .hero {
        font-family: 'Metropolis';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10rem;
        margin-left: 50rem;
        margin-right: 50rem;
        color: white;
      }
      
      .hero .hero__title {
        margin-top: 8rem;
        margin-bottom: 8rem;
      }
      
      .hero .hero__title h1 {
        font-size: 7rem;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
      
      .hero .hero__title h2 {
        font-size: 6rem;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        margin: 0;
      }
      
      .hero .hero__btn {
        background: linear-gradient(to right, #697E7F 0%, #190634 100%);
        width: 100%;
        padding: 2rem;
        border: none;
        border-radius: 2rem;
        color: #DFCBD0;
        font-size: 2rem;
        margin-bottom: 2rem;
        transition: all .2s;
      }
      .hero .hero__btn:hover {
        cursor: pointer;
        border-bottom: 4px solid #003E3E;
        transform: translateY(-4px);
      }
      
      .hero .hero__btn .chevron-right {
        margin-left: 2rem;
        transform: rotate(-90deg);
      }
      
      .hero p {
        font-size: 2rem;
        text-align: center;
      }
      
      .hero p a{
        color: #fff;
        font-weight: 600;
        transition: letter-spacing .2s;
      }
      
      .hero p a:hover {
        letter-spacing: 1.5px;
      }
      
      .hero .hero__scroll {
        text-align: center;
        margin-top: 10rem;
      }
      
      .hero .hero__scroll .scroll{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .hero .hero__scroll .scroll:hover{
        cursor: pointer;
      }
      
      .hero .hero__scroll .scroll .chevron{
        transition: all .3s ease-out;
        transform: translateY(0);
      }
      
      .hero .hero__scroll .scroll .ball{
        transition: all .5s ease-out;
        transform: translateY(0);
      }
      
      .hero .hero__scroll .scroll:hover .ball{
        transition: all .5s ease-out;
        transform: translateY(8px);
      }
      
      .hero .hero__scroll .scroll:hover .chevron{
        transition: all .3s ease-out;
        transform: translateY(8px);
      }
      
      .hero .hero__scroll p {
        font-weight: 200;
      }
      
      .about {
        font-family: 'Metropolis';
        padding: 10rem 50rem;
        color: white;
      }
      .about .about__title {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 4rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }
      
      .about .about__text {
        font-size: 2rem;
        font-weight: 200;
        line-height: 2;
        
      }
      
      .collection {
        font-family: 'Metropolis';
        padding: 10rem 50rem;
        color: white;
      }
      
      .collection .collection__title {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 4rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }
      
      .collection .collection__cards {
        display: flex;
        justify-content: space-between;
      }
      
      .collection .collection__cards .card {
        background-color: #203D3D;
        margin: 2rem;
        border-radius: 1rem;
        margin-bottom: 0;
        box-shadow: 0px 0px 5px 3px rgba(32, 61, 61, 0.44);
      }
      
      .collection .collection__cards .card .card__title {
        background-color: #C5FFE5;
        color: #1E1B1B;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2.25rem;
        font-weight: 600;
        text-align: center;
      }
      
      .collection .collection__cards .card .card__content {
        padding: 2rem 3rem;
      }
      
      .collection .collection__cards .card .card__content .card__text{
        font-size: 2rem;
      }
      
      .collection .collection__cards .card .card__content .card__list{
        font-size: 2rem;
      }
      
      .faq {
        font-family: 'Metropolis';
        padding: 10rem 50rem;
        color: white;
      }
      .faq .faq__title {
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 4rem;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
      }
      
      .faq .accordion .accordion-item {
        background-color: transparent;
        color: #fff;
        border: 1px solid #fff;
        border-right: none;
        border-left: none;
      }
      
      .faq .accordion .accordion-item .accordion-header{
        padding: 2.5rem 1.5rem;
      }
      
      .faq .accordion .accordion-item button {
        background-color: transparent;
        color: #fff;
        font-size: 2rem;
      }
      
      .faq .accordion .accordion-item button::after {
        background-image: url('../src/images/chevron.png');
        transform: rotate(0deg)
      }
      
      .faq .accordion .accordion-button:not(.collapsed)::after {
        background-image: url('../src/images/chevron.png');
        transform: rotate(90deg)
      }
      
      .faq .accordion .accordion-item button:focus {
        box-shadow: none;
        border: none;
      }
      
      .faq .accordion .accordion-collapse .accordion-body {
        border: 1px solid #fff;
        border-bottom: none;
        padding: 3rem;
        font-size: 2rem;
      }
      
      .footer {
        font-family: 'Metropolis';
        color: #fff;
        min-height: 30rem;
        width: 100%;
        padding-top: 4rem;
        padding-left: 50rem;
        padding-right: 50rem;
        border-top: 1px solid #fff;
        display: inline-grid;
        grid-template-columns: minmax(min-content, 2fr) repeat(3,minmax(max-content, 1fr));
      }
      
      .footer .footer__logo {
        font-size: 1.25rem;
        color: rgba(255, 255, 255, 0.5);
      }
      
      .footer .footer__logo .logo {
        width: 16%;
        margin-bottom: 6rem;
      }
      
      .footer .footer__logo .poweredBy {
        display: flex;
        align-items: center;
      }
      
      .footer .footer__logo .poweredBy .sni-brand {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      .footer .footer__logo .poweredBy .unique {
        margin-left: 1rem;
      }
      
      .footer .footer__link {
        font-size: 1.75rem;
        padding-left: 2rem;
        color: rgba(255, 255, 255, 0.5);
      }
      
      .footer .footer__link ul {
        padding: 0;
        list-style: none;
      }
      
      .footer .footer__link ul li{
        padding-bottom: 1.5rem;
      }
      
      .footer .footer__link ul li a {
        color: #fff;
        text-decoration: none;
        transition: letter-spacing .2s;
      }
      
      .footer .footer__link ul li a:hover {
        letter-spacing: 1.5px;
      }
      
      .footer .footer__link ul li a.link {
        color: #fff;
        text-decoration: underline;
      }
      
      .tutorial {
        font-family: 'Metropolis';
        margin: 20rem 50rem;
      
        color: #fff;
      }
      
      .tutorial .carousel {
        color: #fff;
        width: 100%;
        min-height: min-content;
      }
      
      .tutorial .tutorial__buttons {
        display: flex;
        justify-content: space-between;
      }
      
      .tutorial .tutorial__buttons .tutorial__button {
        background-color: #203D3D;
        color: #fff;
        font-size: 2rem;
        border: none;
      
        padding: 1rem 2rem ;
        border-radius: 1rem;
        box-shadow: 0px 0px 5px 4px rgba(32, 61, 61, 0.44);
        transition: box-shadow .2s;
      }
      .tutorial .tutorial__buttons .tutorial__button:not(:last-of-type) {
        margin-right: 2rem;
      }
      
      .tutorial .tutorial__buttons .tutorial__button:hover {
        
        box-shadow: 0px 0px 4px 3px rgba(197, 255, 229, 0.80);
      }
      
      .tutorial .tutorial__buttons .tutorial__button.active {
        background-color: #c5ffe5;
        color: #203D3D;
      }
      
      .tutorial .carousel .carousel-inner {
        text-align: center;
        padding: 8rem 2rem;
      }
      
      .tutorial .carousel .carousel-inner .carousel__img {
        width: 100%
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list {
        text-align: left;
        margin: 5rem 3rem;
        counter-reset: number;
        list-style-type: none;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item::before{
        counter-increment: number;
        content: counter(number)"\a0";
        font-size: 4rem;
        margin-right: 2rem;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item {
      
        column-gap: 2rem;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__title {
        font-size: 1.5rem;
        line-break: strict;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__text {
        font-size: 1.25rem;
        line-height: 2.5rem;
      }
      
      .tutorial .carousel .carousel-inner .carousel__content .carousel__list .carousel__item .item__text .subtext {
        font-size: 1rem;
      }
}
  
  