.faq-page {
  font-family: var(--font-inter);
  
  .accordion {
    .accordion-item {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      border-right: none;
      border-left: none;

      .accordion-header{
        padding: 20px 12px;
      }

      button {
        background-color: transparent;
        color: #fff;
        font-size: 20px;

        &::after {
          background-image: url('./chevron.png');
          transform: rotate(0deg)
        }

        &:not(.collapsed)::after {
          background-image: url('./chevron.png');
          transform: rotate(90deg)
        }

        &:focus {
          box-shadow: none;
          border: none;
        }
      }
    }

    .accordion-collapse {
      .accordion-body {
        border: 1px solid #fff;
        border-bottom: none;
        padding: 24px;
        font-size: 16px;

        a.link {
          display: inline-block;
          position: relative;
          font-size: 16px !important;
          text-decoration: none;
          color: #c5ffe5;

          &:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #c5ffe5;
            transform-origin: bottom right;
            transition: transform 0.3s ease-out;
          }
          &:hover {
            &:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }
    }
  }

  h1.ui.header  {
    font-family: var(--font-inter);
    letter-spacing: normal;
  }

  .faq {
    border-radius: 4px 4px 0px 0px;
    padding: calc(var(--gap) * 2);
    margin-top: calc(var(--gap) * 2);
    background: #000000;
    opacity: 0.7;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    color: #f4f4f4;

    h4.ui.header {
      font-family: var(--font-inter);
      font-weight: bold;
      font-size: 24px;
      line-height: 26px;
      margin-top: calc(var(--gap) * 2);
      margin-bottom: 12px;
      min-height: 0;
      letter-spacing: normal;
      color: #FFF;

      &:first-child {
        margin-top: 0;
      }
    }

    p, ol li {
      font-size: 16px;
      line-height: 24px;
      font-family: var(--font-roboto);
      font-weight: 400;
      margin-bottom: 0;
      letter-spacing: normal;
    }

    a {
      color: var(--link-color);
    }

    ol {
      padding-left: 17px;
    }
  }
}

@media screen and (min-width: 768px) { 
  .faq  {
    .accordion {
      padding: 24px 64px;
    }
  }
}

@media (max-width: 1024px) { 
  .faq  {
    .accordion {
      padding: 0;
    }
  }
}
@media (max-width: 1279px) {
  .faq-page {
    overflow-y: auto;
    overflow-x: hidden;

    background-color: var(--card-background);

    h1.ui.header {
      margin-top: calc(var(--gap) * 2);
      padding: 0 calc(var(--gap) * 2);
    }

    .faq {
      margin-top: 0;
    }
  }
}
