:root {
  --font-mono: 0.9em Consolas, monaco, "Ubuntu Mono", "Liberation Mono",
    "Courier New", Courier, monospace;
  --font-sans: 1em "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-weight-bold: 700;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --width-full: 1750px;
  --width-half: 875px;
}

[data-theme="Unique"] {
  --white-color: #f4f4f4;
  --black-color: #231F20;
  --border-color: #f4f4f4;
  --error-color: #ff6335;
  --error-color-dark: #E65E35 ;
  --success-color: #93ff35;
  --divider-color: #2e2a2b;
  --tabs-color: #81858e;
  --table-row-hover: #eef0f7;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1366px;

  --font-roboto: "Roboto", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-raleway: "Raleway", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-inter: "Inter", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --link-color: #057453;
  --link-light-color: #AAE6B9;
  --bg-page: #231F20;
  --header-background: #231f2000;
  --header-text-color: #f4f4f4;
  --sub-header-color: #f4f4f4;
  --sub-header-font-size: 14px;
  --sub-header-text-transform: #040b1d;
  --menu-text-transform: none;
  --menu-font-size: 16px;
  --text-color: #231F20;
  --title-color: #231F20;
  --button-color: #AAE6B9;
  --button-background-hover: #057453;
  --button-background-active: #AAE6B9;
  --input-background-color: #231F20;
  --input-border-color-hover: #231F20;
  --input-border-color-outline: #231F20;
  --input-background-disabled-color: #231F20;
  --input-placeholder-search-color: #231F20;
  --input-text-color: #f4f4f4;
  --max-header-width: 100%;
  --card-border-color: #231F20;
  --card-background: rgba(0, 0, 0, 0.486);
  --card-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  --card-text-color: #f4f4f4;
  --card-link-color: #AAE6B9;
  --account-selector-background: #AAE6B9;
  --account-selector-name-color: #231F20;
  --account-selector-address-color: #231F20;
  --dropdown-scrollbar-color: #231F20;
  --modal-border-color: transparent;
  --modal-text-color: #231F20;
  --color-checkbox: #231F20;
}

[data-theme="NF3Digital"] {
  --white-color: #f4f4f4;
  --black-color: #231F20;
  --border-color: #f4f4f4;
  --error-color: #ff6335;
  --error-color-dark: #E65E35 ;
  --success-color: #93ff35;
  --divider-color: #2e2a2b;
  --tabs-color: #81858e;
  --table-row-hover: #eef0f7;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1200px;

  --font-roboto: "Roboto", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-raleway: "Raleway", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-inter: "Inter", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --link-color: #057453;
  --bg-page: #231F20;
  --header-background: #231F20;
  --header-text-color: #f4f4f4;
  --sub-header-color: #f4f4f4;
  --sub-header-font-size: 14px;
  --sub-header-text-transform: #040b1d;
  --menu-text-transform: none;
  --menu-font-size: 16px;
  --text-color: #f4f4f4;
  --title-color: #AAE6B9;
  --input-background-color: #231F20;
  --max-header-width: 100%;
  --card-border-color: #231F20;
  --card-background: rgba(0, 0, 0, 0.486);
  --card-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  --card-text-color: #f4f4f4;
  --card-link-color: #AAE6B9;
  --account-selector-background: #AAE6B9;
  --account-selector-name-color: #231F20;
  --account-selector-address-color: #231F20;
  --dropdown-scrollbar-color: #231F20;
  --modal-border-color: transparent;
  --modal-text-color: #231F20;
  --color-checkbox: #231F20;
}

[data-theme="LUVNFT"] {
   --white-color: #f4f4f4;
  --black-color: #231F20;
  --border-color: #f4f4f4;
  --error-color: #ff6335;
  --error-color-dark: #E65E35 ;
  --success-color: #93ff35;
  --divider-color: #2e2a2b;
  --tabs-color: #81858e;
  --table-row-hover: #eef0f7;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1200px;

  --font-roboto: "Roboto", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-raleway: "Raleway", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-inter: "Inter", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

    --link-color: #057453;
    --bg-page: #231F20;
    --header-background: #231F20;
    --header-text-color: #f4f4f4;
    --sub-header-color: #f4f4f4;
    --sub-header-font-size: 14px;
    --sub-header-text-transform: #040b1d;
    --menu-text-transform: none;
    --menu-font-size: 16px;
    --text-color: #f4f4f4;
    --title-color: #AAE6B9;
    --input-background-color: #231F20;
    --max-header-width: 100%;
    --card-border-color: #231F20;
    --card-background: rgba(0, 0, 0, 0.486);
  --card-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    --card-text-color: #f4f4f4;
    --card-link-color: #AAE6B9;
    --account-selector-background: #AAE6B9;
    --account-selector-name-color: #231F20;
    --account-selector-address-color: #231F20;
    --dropdown-scrollbar-color: #231F20;
    --modal-border-color: transparent;
    --modal-text-color: #231F20;
    --color-checkbox: #231F20;
}

[data-theme="Vernissage"] {
  --white-color: #f4f4f4;
  --black-color: #231F20;
  --border-color: #f4f4f4;
  --error-color: #ff6335;
  --error-color-dark: #E65E35 ;
  --success-color: #93ff35;
  --divider-color: #2e2a2b;
  --tabs-color: #81858e;
  --table-row-hover: #eef0f7;

  --gap: 16px;
  --bradius: 4px;
  --max-width: 1200px;

  --font-roboto: "Roboto", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-raleway: "Raleway", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --font-inter: "Inter", Frutiger, "Frutiger Linotype", "Dejavu Sans",
    "Helvetica Neue", Arial, sans-serif;

  --link-color: #f200a8;
  --bg-page: #2d004d;
  --header-background: linear-gradient(
    133deg,
    rgba(60, 31, 160, 1) 0%,
    rgba(230, 0, 167, 1) 69%,
    rgba(242, 0, 168, 1) 100%
  );
  --link-color: #057453;
  --bg-page: #231F20;
  --header-background: #231F20;
  --header-text-color: #f4f4f4;
  --sub-header-color: #f4f4f4;
  --sub-header-font-size: 14px;
  --sub-header-text-transform: #040b1d;
  --menu-text-transform: none;
  --menu-font-size: 16px;
  --text-color: #f4f4f4;
  --title-color: #AAE6B9;
  --input-background-color: #231F20;
  --max-header-width: 100%;
  --card-border-color: #231F20;
  --card-background: rgba(0, 0, 0, 0.486);
  --card-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  --card-text-color: #f4f4f4;
  --card-link-color: #AAE6B9;
  --account-selector-background: #AAE6B9;
  --account-selector-name-color: #231F20;
  --account-selector-address-color: #231F20;
  --dropdown-scrollbar-color: #231F20;
  --modal-border-color: transparent;
  --modal-text-color: #231F20;
  --color-checkbox: #231F20;
}
